.connection-status-widget {
  background-color: #383d45;
  display: flex;
  border-radius: 5px;
  max-width: fit-content;
}

.connection-status-widget > p {
  padding: 7px 7px 0 7px;
  color: #fbffff;
}

.success {
  background-color: #58a55c;
}

.failure {
  background-color: #d94f40;
}

.channel-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.channel-button {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  width: 60px;
  height: 30px;
}

.channel-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.channel-button:active {
  opacity: 60%;
}

.channel-button:disabled {
  border: 1px solid black;
}
